---
Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 150
IndentWidth: 4
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
TabWidth: 4
AllowShortBlocksOnASingleLine: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignAfterOpenBracket: AlwaysBreak
AlignEscapedNewlines: Right
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Always
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AlwaysBreakAfterReturnType: AllDefinitions
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
Cpp11BracedListStyle: true
FixNamespaceComments: true
IndentPPDirectives: AfterHash
IncludeBlocks: Preserve
KeepEmptyLinesAtTheStartOfBlocks: false
PointerAlignment: Left
SortUsingDeclarations: true
SortIncludes: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeRangeBasedForLoopColon: false
BreakBeforeBraces: Allman
#BraceWrapping:
#  AfterCaseLabel: true
#  AfterClass: true
#  AfterControlStatement: true
#  AfterEnum: true
#  AfterFunction: true
#  AfterNamespace: true
#  AfterStruct: true
#  AfterUnion: true
#  AfterExternBlock: false
#  BeforeCatch: true
#  BeforeElse: true
#  SplitEmptyFunction: true
#  SplitEmptyRecord: true
#  SplitEmptyNamespace: true
---
Language: JavaScript
BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
...
