Checks: '-*,
        modernize-use-nullptr,
        modernize-avoid-bind,
        modernize-avoid-c-arrays,
        modernize-concat-nested-namespaces,
        modernize-deprecated-headers,
        modernize-deprecated-ios-base-aliases,
        modernize-loop-convert,
        modernize-make-shared,
        modernize-make-unique,
        modernize-pass-by-value,
        modernize-raw-string-literal,
        modernize-redundant-void-arg,
        modernize-replace-auto-ptr,
        modernize-replace-random-shuffle,
        modernize-return-braced-init-list,
        modernize-shrink-to-fit,
        modernize-unary-static-assert,
        modernize-use-auto,
        modernize-use-bool-literals,
        modernize-use-default-member-init,
        modernize-use-emplace,
        modernize-use-equals-default,
        modernize-use-equals-delete,
        modernize-use-nodiscard,
        modernize-use-noexcept,
        modernize-use-override,
        modernize-use-transparent-functors,
        modernize-use-uncaught-exceptions,
        modernize-use-using,
        bugprone-bool-pointer-implicit-conversion,
        bugprone-branch-clone,
        bugprone-dangling-handle,
        bugprone-dynamic-static-initializers,
        bugprone-fold-init-type,
        bugprone-inaccurate-erase,
        bugprone-incorrect-roundings,
        bugprone-infinite-loop,
        bugprone-integer-division,
        bugprone-lambda-function-name,
        bugprone-macro-parentheses,
        bugprone-misplaced-operator-in-strlen-in-alloc,
        bugprone-misplaced-widening-cast,
        bugprone-move-forwarding-reference,
        bugprone-not-null-terminated-result,
        bugprone-sizeof-container,
        bugprone-string-constructor,
        bugprone-string-integer-assignment,
        bugprone-suspicious-enum-usage,
        bugprone-too-small-loop-variable,
        bugprone-unused-raii'
