<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>AtomicDEX Pro</Name>
    <Version>0.1.2</Version>
    <Title>AtomicDEX Pro Installer</Title>
    <Publisher>Komodo Platform</Publisher>
    <ProductUrl>https://komodoplatform.com/</ProductUrl>
    <StartMenuDir>AtomicDEX Pro</StartMenuDir>
    <TargetDir>@HomeDir@/AtomicDEX Pro</TargetDir>
    <InstallerWindowIcon>installer_icon</InstallerWindowIcon>
    <InstallerApplicationIcon>installer_icon</InstallerApplicationIcon>
    <Logo>installer_icon.png</Logo>
</Installer>